<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="lifecycle" version="3.0">
  <display-name>lifecycle</display-name>
  
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>lifeservlet</servlet-name>
  	<servlet-class>LifeServlet</servlet-class>
  	  <init-param>
      <param-name>outputfile</param-name>
      <param-value>WEB-INF/log/output.txt</param-value>
    </init-param>
    <init-param>
      <param-name>outputcount</param-name>
      <param-value>WEB-INF/log/count.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>lifeservlet</servlet-name>
  	<url-pattern>/lifeservlet</url-pattern>
  </servlet-mapping>
  
</web-app>